<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      body {
        background-color: powderblue;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>
      <a
        href="https://web.postman.co/collections/4175392-ff45c916-b1fc-4a94-9034-4733f9dd04d3?version=latest&workspace=16c98f63-155f-41f9-8895-523531f8619c#1ab35c18-1847-4e5a-85ed-98300c490082"
        >API Documentation
      </a>
    </h1>
  </body>
</html>
